@charset "UTF-8";
/*＝＝＝ 共通部分　＝＝＝ */
/* ヘッダー */
.header{
    width: 90%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
}
.log-img{
    width: 180px;
}

.hamburger-menu{
    display: block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: 0.4s;
    padding: 10px;
    position: relative;
    z-index: 30;
}

.hamburger-menu:hover{
    opacity: 0.5;
}

.hamburger-menu span{
    width: 30px;
    height: 2px;
    background-color: black;
    position: absolute;
    right: 5px;
    transition: 0.4s ease-in-out;
}

.hamburger-menu span:nth-child(1) {
    top: 12px;
  }
  .hamburger-menu span:nth-child(2) {
    top: 24px;
  }
  
  
  #hamburger-navigation{
    width: 100%;
    height: 100vh;
    background-color:rgba(0,0,0,0.8);
    color:#fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    opacity: 0;
    text-align: left;
    transition: opcity 0.8s ease, visibilty 0.8s ease;
    visibility: hidden;
  }
  #hamburger-navigation .sections {
    margin-top: 40px;
    margin-left: 5%;
  }
  #hamburger-navigation .sections li {
    margin-bottom: 20px;
  }
  #hamburger-navigation .sections a {
    color: #fff;
    font-size: 14px;
  }

  .hamburger-menu.active span{
    background-color:#fff;
  }

#hamburger-navigation.active {
    opacity: 1;
    visibility: visible;
    z-index: 20;

  }

.hamburger-menu.active span:nth-child(1) {
    top: 20px;
    left: 10;
    background: #fff;
    transform: rotate(-45deg);
  }
.hamburger-menu.active span:nth-child(2){
    top: 20px;
    background: #fff;
    transform: rotate(45deg);
  }



/* フッター */

.footerFixed{
    min-height: 100vh; 
    position: relative;
    padding-bottom: 10px;
    box-sizing: border-box;
}
footer{
    position: absolute;
    bottom: 30px;
    left: 5%;
    text-align: center;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sns-ul{
    display:flex;
    justify-content:start;
}
.sns-li{
    margin-right: 30px;
}
.sns-li a{
    font-size: 12px;
}
.sns-li :hover {
	opacity: 0.5;
}
.copyright p{
    font-size: 8px;
}



/*＝＝＝top画面＝＝＝*/
main{
    width: 90%;
    margin:0 auto 100px auto ; 
}

.top ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



.item-img{
    width:  20vw;
    height:  20vw;
    object-fit: cover; 
    margin-bottom: 15px;
}
.item-img:hover {
	opacity: 0.8 ;
}
.item-name{
    font-size: 12px;
    margin-bottom: 5px;
    width: 20vw;
    word-wrap: break-word;
}
.item-price{
    font-size: 12px;
    margin-bottom: 45px;
}

.view-div{
    text-align: center;
}

.view-div a{
    font-size: 15px;
    text-align: center;
}
.view-div a:hover {
	opacity: 0.5 ;
}

/* === about ==== */
.about-html{
    min-height: 100vh; 
    position: relative;
    padding-bottom: 10px;
    box-sizing: border-box;
    overflow: hidden;
}

h2{
    font-size: 15px;
    margin:65px 0 35px 0;
}
.about{
    width: 600px;
   
}
.about-text{
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 45px;
}

/* ===company＝＝＝ */
.company-dl{
    width: 600px;
    display: flex;
    margin-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid gray;
}
.dl-last{
    border-bottom:none;
}
.company-dt{
    width: 70px;
    font-size: 14px;
    font-weight:normal;
    margin-right: 125px;
    margin-left: 10px;
}
.company-dd{
    font-size: 14px;
    line-height: 1.5;
}
.googlemap-bw iframe {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    margin-top: 20px;
    margin-bottom: 80px;
  }
  

  /* ===item=== */
  .img-box{
    width:400px;
    height:400px;
    object-fit: cover; 
    object-position: center;
    
  }
  .introduction{
    width: 800px;
    display: flex;
    
  }
  .introduction-text{
    width: 50%;
    margin-left: 65px;
  }

  .explanatory{
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 35px;
    word-wrap:break-word;
  }
  .figure-dl{
    display: flex;
  }
  .figure-dt{
    width: 90px;
    font-weight: normal;
    font-size: 15px;
    margin-right: 10px;
    line-height: 1.5;
  }
  .figure-dd{
    font-size: 15px;
    line-height: 1.5;
  }
  span{
    margin: 0 5px;
}
.back{
    margin-top: 70px;
    text-align: center;
    font-size: 15px;
}

@media screen and (max-width: 750px) {
    /* 共通部分 */


	
    main{
        width: 90%;
        margin:0 auto 120px auto ; 
    }
    footer{
        width: 90%;
        display: block;
        text-align: left;
    }

    .copyright p{
        margin-top: 10px;
    }
    h2{
        margin:65px 0 　45px 0;
    }
    /* トップページ */
    .item-img{
        width:  42vw;
        height:  42vw;
    }
    .item-name{
        font-size: 12px;
        margin-bottom: 5px;
        width:42vw;
        word-wrap: break-word;
    }
    /* about */

    .about-html{
        overflow: auto;
    }
    .about{
        width: 95%;
        margin: 0 auto;
    }

    /* company */
    .company-dl{
        width:90%;
        display: block;
    
    }
    .dl-last{
        border-bottom:none;
    }
    .company-dt{
        margin-right: 0px;
        margin-bottom: 10px;
    }
    .company-dd{
        font-size: 14px;
        line-height: 1.5;
        margin-left: 10px;
    }
    .googlemap-bw iframe {
       width: 90%;
      }
      .img-box{
        width:80vw;
        height:80vw;   
    }
    .introduction{
        width: 95%;
        margin: 0 auto;
        display: block; 
      }
      .introduction-text{
        margin-left: 0px;
        margin-top: 30px;
        width: 100%;
      }
    
      .explanatory{
        font-size: 14px;
        line-height: 1.5;
        margin-bottom: 35px;
        word-wrap:break-word;
      }
}

